@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> index usuarios</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th >1</th>
            <td>Fernando@gmail.com</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th >2</th>
            <td>Tiago@gmail.com</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th >3</th>
            <td>Julia@gmail.com</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>