<form action="" method="post">
	<label> email</label>
	<input type="email" name="email" value=""/>
	<br></br>
	<label>Senha</label>
	<input type="password" name="senha" value="" />
	<br><br />
	<button type="submit" class="btn btn-primary"> Logar
		</button>
</form>